@import "tailwindcss";

@theme {
    --font-abril: "Abril Fatface", system-ui;
    --font-playfair: "Playfair Display Variable", serif;

    --color-moutarde: oklch(55.35% 0.1076 74.77);
    --color-rouge: oklch(40.12% 0.1427 30.23);
    --color-taupe: oklch(74.39% 0.0314 85.56);
    --color-beige: oklch(95.05% 0.0131 82.4);
    --color-noir: oklch(25.2% 0 0);
    --my-grid: repeat(12, minmax(0, 88px));
}

@layer base {
    body {
        @apply font-playfair
    }

    h1 {
        @apply font-abril text-moutarde
    }

    h2 {
        @apply font-abril text-moutarde
    }

    h3 {
        @apply font-abril text-moutarde
    }

}




@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-8;
    }

    .animate-scroll {
        animation: scroll 30s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}