---
import Logo from "../assets/icons/logo.svg";
---

<header class="bg-taupe flex items-center justify-between px-6 py-3 shadow-md">
    <a href="/" class="transition-transform hover:scale-105 shrink-0">
        <Logo class="w-44 h-auto" />
    </a>

    <nav>
        <ul class="flex items-center gap-12">
            <li>
                <a
                    href="/A_propos"
                    class="font-abril text-white text-3xl hover:text-moutarde transition-colors"
                    >À propos</a
                >
            </li>
            <li>
                <a
                    href="/Programme"
                    class="font-abril text-white text-3xl hover:text-moutarde transition-colors"
                    >Le programme</a
                >
            </li>
            <li>
                <a
                    href="/Artistes"
                    class="font-abril text-white text-3xl hover:text-moutarde transition-colors"
                    >Artistes</a
                >
            </li>
            <li>
                <a
                    href="/Scenes"
                    class="font-abril text-white text-3xl hover:text-moutarde transition-colors"
                    >Les scènes</a
                >
            </li>

            <div class="h-14 w-[2px] bg-white/30 mx-2"></div>

            <li class="flex flex-col justify-center">
                <a
                    href="/Info_pratiques"
                    class="font-playfair text-black text-base font-bold uppercase tracking-tight hover:text-white transition-colors leading-tight"
                >
                    Infos pratiques
                </a>
                <a
                    href="/Contact"
                    class="font-playfair text-black text-base font-bold uppercase tracking-tight hover:text-white transition-colors leading-tight"
                >
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
